@charset "utf-8";
/* CSS Document */
#center{
	width:80%;
	margin: 0 auto;
}
#center_nav{
	width: 100%;
	text-align: center;
}
#center_nav ul {
	width: 100%;
}

#center_nav ul li {
	width:50%;
	margin-left:0;
}
#Message{
	position:relative;
	left:95%;
	top:-30px;
}
#SHU{
	width:50%;
	height:1%;
}
#PQ{
	margin-top:1%;
}
#id{
	background:#FFF;
	word-wrap: break-word;
	width:100%;
}

.comment{
	width:80%;
	margin:auto;
}
.comment_content {
	margin-left:7%;
}
.comment_time{
	margin-left:7%;
}